<!DOCTYPE html>
<html>
<head>
  <title>ProductPage - The smart product page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render 'shared/header' %>
<%= render 'shared/message' %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
